html, body, main {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 800px;
}
canvas {
    display: block;
}


.thumbnail-img {
    max-width: 120%;
    border-radius: 5%;
}

.largeImg {
    border-radius: 5%;
    max-width: 20%;
}