header, main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.thumbnail-img {
    max-width: 23.6%;
    border-radius: 5%;
}

.largeImg {
    border-radius: 5%;
}

h3 {
    color:rgba(15, 94, 146, 0.514);
}